html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo{
  width: 80px;
}

.background{
  position: relative ;
  z-index: 1;
  height: 100vh;
}

.background::before{
  content: "";
position: absolute;
top:0;
left:0;  
width: 100%;
height: 100%;
background-image: url(https://images.pexels.com/photos/416528/pexels-photo-416528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
background-size: cover;
background-position: center;
filter: brightness(60%);
z-index: -1;
opacity: 0.5;
}

.btn-danger{
  background-color: #5c5c5c;
  border: none;
}

.btn-primary{
  background-color: white;
  border: none;
}

.btn-success{
  background-color: #15446c;
  border: none;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}